spring.application.name: todoapp
spring.profiles.active: default

spring:
  config:
    import:
      #- logging.yml
        #- security.yml
        #- web.yml
        - data.yaml
        - notification.yaml
        #- server.yml
        #- cache.yml
        #- messaging.yml
  web.resources.add-mappings: false

server:
  tomcat:
    max-connections: 20000
    threads:
      max: 600
      min-spare: 100

---
spring.config.activate.on-profile: prod


spring:
  config:
    import:
      - data-prod.yaml
      - notification-prod.yaml
  web.resources.add-mappings: false

---